{% extends 'layouts/dashboard.twig' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			{% if single == false %}
				{% include 'Pages/Customers/List.twig' %}
			{% else %}
				{% include 'Pages/Customers/Single.twig' %}
			{% endif %}
		</div>

		<div class="d-none" id="add-customer-form-contents">
			{% include 'modules/forms/add-customer.twig' %}
		</div>
	</div>
	<!-- end row -->
{% endblock %}
