<section class="container-fluid app-content">
	<div class="title-wrapper pt-30">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="title mb-30">
					<h1>{{ title }}</h1>
				</div>
			</div>
			{% include "components/breadcrumbs.twig" %}
		</div>
	</div>
</section>
