<header class="position-fixed top-20 w-100">
	<div class="container">
		<nav class="d-flex align-items-center justify-content-between">
			<a class="navbar-brand d-flex align-items-center" href="/">
				<img src="/public/images/logo/logo.svg" alt="" width="50" height="50" class="d-inline-block align-text-top">
				Trident
			</a>
			<div>
				<ul class="d-flex">
					<li>
						<a class="nav-link active" aria-current="page" href="#">Accueil</a>
					</li>
					<li>
						<a class="nav-link" href="#">Fonctionnalités</a>
					</li>
					<li>
						<a class="nav-link" href="#">Tarifs</a>
					</li>
				</ul>
			</div>
			<div class="d-flex">
				<a title="S'inscrire" href="/inscription">
					<button class="main-btn mx-2 primary-btn btn-hollow btn-md">Inscription</button>
				</a>
				<a title="Se connecter" href="/connexion">
					<button class="main-btn mx-2 primary-btn btn-hover btn-md">Connexion</button>
				</a>
			</div>
		</nav>
	</div>
</header>
