<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{{ config.name }}
			-
			{{ title }}
		</title>
		{% block extra_stylesheets_before %}{% endblock %}
		{% block stylesheets %}
			{% include 'components/styles.twig' %}
		{% endblock %}
		{% block extra_stylesheets_after %}{% endblock %}
	</head>

	<body class="{{ device }} {{ session.theme }}">

		{% block main %}
			<main>
				{% block header %}
					{% include 'components/header.twig' %}
				{% endblock %}
				<section class="container-fluid app-content redirect-right">
					<section class="page-content">
						{% block content %}{% endblock %}
					</section>
				</section>
			</main>
		{% endblock %}
		{% block extra_scripts_before %}{% endblock %}
		{% block scripts %}
			{% include 'components/scripts.twig' %}
		{% endblock %}
		{% block extra_scripts_after %}{% endblock %}
	</body>
</html>
